In [10]:
import pandas as pd
import altair as alt
alt.renderers.set_embed_options(theme='dark')
pd.set_option('display.max_colwidth', None)

# Analysis & Charts

In [11]:
def claim(claim_hash):
    try:
        df_claim = pd.read_json(
            f"https://api.flipsidecrypto.com/api/v2/queries/{claim_hash}/data/latest",
            convert_dates=["BLOCK_TIMESTAMP"],
        )
    except Exception as e:
        print(e)
        return 
    return df_claim

In [12]:
class DataProvider:    
    
    def __init__(self):
        self.lock = '9f7cf9ef-f7eb-45b5-92e2-dccf12d56d05'
        self.exit = '94411e01-3592-47c4-8964-c0611c1ece7a'
        self.pools = {'No LP':'No LP','-1':'No LP','1':'OSMO/ATOM',
                               '604':'STARS/OSMO',
                               '674':'DAI/OSMO',
                               '648':'PSTAKE/OSMO',
                               '3':'AKT/OSMO',
                               '704':'wETH/OSMO',
                               '605':'HUAHUA/OSMO',
                               '678':'USDC/OSMO',
                               '601':'CMDX/OSMO',
                               '560':'UST/OSMO',
                               '561':'LUNA/UST',
                               '562':'LUNA/OSMO',
                               '577':'XKI/OSMO',
                               '690':'MNTL/OSMO'}
    
    def get_lock(self):
        df = claim(self.lock)
        return df
    
    def get_exit(self):
        df = claim(self.exit)
        return df

In [14]:
dp = DataProvider()

In [43]:
df = dp.get_lock()
df

      POOL_ID                      DAY  SUM(GAMMA_TOKENS)
0           1  2022-01-31 00:00:00.000       2.421003e+04
1           1  2022-02-01 00:00:00.000       3.445742e+06
2           1  2022-02-02 00:00:00.000       1.072554e+06
3           1  2022-02-03 00:00:00.000       1.683169e+06
4           1  2022-02-04 00:00:00.000       1.239656e+06
...       ...                      ...                ...
6105        9  2022-04-27 00:00:00.000       7.676938e+05
6106        9  2022-04-28 00:00:00.000       1.051603e+06
6107        9  2022-04-29 00:00:00.000       1.788292e+06
6108        9  2022-04-30 00:00:00.000       9.205378e+05
6109        9  2022-05-01 00:00:00.000       1.554087e+06

[6110 rows x 3 columns]

In [44]:
lock_ = df.pivot(index='DAY', values='SUM(GAMMA_TOKENS)', columns='POOL_ID').fillna(0)
lock_

POOL_ID,1,2,3,4,5,6,7,8,9,10,...,651,653,658,661,662,669,670,678,679,681
DAY,,,,,,,,,,,,,,,,,,,,,
2022-01-31 00:00:00.000,2.421003e+04,2.219797e+06,3692.237780,0.000000,0.000000e+00,0.000000e+00,1.170115e+02,9704.358611,4.520555e+04,2.921844e+03,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.0
2022-02-01 00:00:00.000,3.445742e+06,4.151646e+06,25196.953963,3256.262892,5.438107e+07,2.109386e+07,3.559258e+05,57739.875953,1.365087e+06,3.708716e+06,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.0
2022-02-02 00:00:00.000,1.072554e+06,5.489794e+06,231486.939873,6431.760351,2.074842e+06,2.798982e+05,4.364660e+05,57658.148458,3.680783e+05,1.182723e+06,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.0
2022-02-03 00:00:00.000,1.683169e+06,6.561718e+06,440786.191184,1814.165134,3.485804e+06,3.119679e+06,5.081737e+05,113472.411858,1.502475e+06,1.242311e+06,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.0
2022-02-04 00:00:00.000,1.239656e+06,2.034170e+06,231835.112074,148588.041815,9.152947e+05,9.985338e+05,3.476603e+06,52524.901138,2.395294e+05,8.365160e+05,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-27 00:00:00.000,5.424001e+05,1.633265e+05,55408.681923,66723.946070,2.242487e+06,3.200010e+05,3.768958e+05,56996.033113,7.676938e+05,1.659774e+05,...,13.983635,395.548980,0.0,0.0,47.627015,70.801138,5.100052e+06,170.138002,142.683504,0.0
2022-04-28 00:00:00.000,4.178321e+05,4.209922e+05,45035.403084,201.339102,1.795882e+05,2.213602e+04,4.197042e+05,56604.078875,1.051603e+06,2.139196e+06,...,13.302982,6.968973,0.0,0.0,158.318276,216.760592,1.268350e+06,12279.825861,82.783149,0.0
2022-04-29 00:00:00.000,1.588184e+06,7.140855e+04,82601.136839,2366.908331,2.044935e+05,0.000000e+00,3.882132e+05,57879.942249,1.788292e+06,2.683648e+05,...,11.633772,66.143780,0.0,0.0,83.588881,224.800585,1.574284e+05,128.610231,1816.109443,0.0
2022-04-30 00:00:00.000,3.319627e+06,1.093732e+07,27577.645855,0.000000,3.365170e+05,0.000000e+00,3.997914e+05,57805.827079,9.205378e+05,5.654344e+04,...,6.617336,154.853716,0.0,0.0,78.618561,151.941648,3.909726e+07,182.262750,7.919128,0.0
2022-05-01 00:00:00.000,7.419333e+05,2.833621e+06,131984.482025,0.000000,2.147643e+06,0.000000e+00,3.831728e+05,57086.445632,1.554087e+06,1.844173e+06,...,24.836755,93.504813,0.0,0.0,216.825020,265.030554,5.562600e+06,501.328752,16.091899,0.0

In [45]:
df = dp.get_exit()
df

      POOL_ID                      DAY  SUM(GAMMA_TOKENS)
0           1  2022-01-31 00:00:00.000       2.020054e+04
1           1  2022-02-01 00:00:00.000       1.106062e+06
2           1  2022-02-02 00:00:00.000       4.211405e+05
3           1  2022-02-03 00:00:00.000       4.995707e+05
4           1  2022-02-04 00:00:00.000       1.109020e+06
...       ...                      ...                ...
6807        9  2022-04-29 00:00:00.000       2.799224e+06
6808        9  2022-04-30 00:00:00.000       2.028523e+06
6809        9  2022-05-01 00:00:00.000       2.973119e+06
6810       91  2022-03-30 00:00:00.000       1.569329e+01
6811       91  2022-04-01 00:00:00.000       1.004707e+00

[6812 rows x 3 columns]

In [46]:
exit_ = df.pivot(index='DAY', values='SUM(GAMMA_TOKENS)', columns='POOL_ID').fillna(0)
delta = lock_.append(-exit_)

In [49]:
delta.sort_values(by='DAY').cumsum()

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            683, 684, 685, 686, 687, 688, 689, 690, 692, 693],
           dtype='int64', name='POOL_ID', length=211)